.google-maps-container
  display: flex
  justify-content: center
  align-items: center
  width: 100%

.google-maps-iframe
  width: 70% !important
  height: 400px !important
  @media (max-width: 600px)
    width: 100% !important
    height: 300px !important