.roll-post-image
  @extend %margin-container
  width: 100%
  height: 400px
  background-size: cover
  background-repeat: no-repeat
  border: 3px solid $black
  transition-duration: 0.3s
  @media (max-width: 800px)
    width: 100%
    border: 0
    margin-right: 0px
    margin-left: 0px

.roll-post-image:hover
  opacity: 0.98 

.roll-post-image-container
  @extend %flex-center
  width: 100%

.roll-post-title
  font-size: 20px
  font-weight: 600

.container-text
  @extend %margin-container
  margin-bottom: 20px
  @media (max-width: 600px)
    margin-left: 15px
    margin-right: 15px
    text-align: left

.container-card
  @extend %margin-container
  margin-bottom: 20px
  @media (max-width: 600px)
    margin-left: $margin-left-mobile
    margin-right: $margin-right-mobile
    margin-bottom: 20px
