@import 'variables'

.logo-navbar
  max-width: 60px
  max-height: 50px
  @media (max-width: $mobile-screen)
    max-width: 45px
    max-height: 35px
  
.logo-navbar-container
  height: 80px
  outline: none
  display: flex
  align-items: center
  justify-content: center
  margin-right: 40px
  @media (max-width: $mobile-screen)
    margin-right: 15px
    height: 60px

.navbar-burger span 
  background-color: white

.navbar 
  @extend %flex-center
  background-color: $black
  min-height: 3.25rem
  position: relative
  z-index: 30

.navbar-container
  @extend %flex-start
  width: 80%
  @media (max-width: $mobile-screen) 
    width: 95%

.navbar-menu
  @extend %flex-between
  width: 100%
  @media (min-width: $wide-screen)
    width: 50%

.navbar-start
  width: 50%
  @extend %flex-between
  @media (max-width:300px)
    width: 100%
  @media (max-width:1000px)
    width: 90%
  
a.navbar-item
  font-size: 17px
  font-family: 'Roboto'
  color: $white
  font-weight: 450
  text-decoration: none
  outline: none
  @media (max-width:$mobile-screen)
    font-size: 15px

a.navbar-item:hover
  color: $hovergray
  transition-duration: 0.5s

a.navbar-item:active
  color: white

