.a-button-container
  margin: 30px auto
  @extend %flex-center
  width: 100%


.a-button
  color: $black
  font-style: italic
  text-decoration: none
  text-align: center
  padding: 10px 25px
  // background-color: #f2f7f7fa

.a-button:hover
  background-color: #ebf0f0ef
  color: $black

.a-button:active
  @media (min-width: 601px)
    color: $black
    background-color: transparent
  @media (max-width: 600px)
    color: $black
    background-color: #ebf0f0ef

.a-button:focus
  outline-style: solid
  outline-color: #d3d3d3ef

  