.a-button-container
  margin: 30px auto
  @extend %flex-center
  width: 100%


.a-button
  color: #1ebeb1ef
  font-style: italic
  text-decoration: none
  text-align: center
  padding: 10px 25px
  border: 2px solid transparent
  outline: none

.a-button:hover
  background-color: #c4fffaef
  color: #009c8fef

.a-button:active
  @media (min-width: 601px)
    border: 2px solid #009c8fef
    color: #009c8fef
    background-color: transparent
  @media (max-width: 600px)
    background-color: #c4fffaef
    color: #009c8fef

  