$black: #111111

%flex-start
  display: flex
  align-items: center
  justify-content: flex-start
  
%flex-center 
  display: flex
  align-items: center
  justify-content: center

%flex-between
  display: flex
  align-items: center
  justify-content: space-between

.flex-center
  display: flex
  align-items: center
  justify-content: center

.flex-between
  display: flex
  align-items: center
  justify-content: space-between
