$black: #111111
$white: #dddddd
$purewhite: white
$hovergray: #a0a0a0
$footerheight: 15rem
$footerheightmobile: 25rem
$margin-left-mobile: 15px
$margin-right-mobile: 15px
$post-images-width: 1000px

%flex-start
  display: flex
  align-items: center
  justify-content: flex-start
  
%flex-center 
  display: flex
  align-items: center
  justify-content: center

%flex-between
  display: flex
  align-items: center
  justify-content: space-between

%margin-container
  margin-left: 15%
  margin-right: 15%

/* Proportional Width to Margin-Container */
$prop-width: 70%

.flex-center
  display: flex
  align-items: center
  justify-content: center

.flex-between
  display: flex
  align-items: center
  justify-content: space-between
