@import 'variables'
@import 'navbar'
@import 'footer'
@import '404'
@import url('https://fonts.googleapis.com/css?family=Roboto')
@import url('https://fonts.googleapis.com/css?family=Raleway')
@import url('https://fonts.googleapis.com/css?family=Merriweather')
@import url('https://fonts.googleapis.com/css?family=Poppins')
@import url('https://fonts.googleapis.com/css?family=Lora')
@import url('https://fonts.googleapis.com/css?family=Muli')
@import url('https://fonts.googleapis.com/css?family=Oxygen')
@import url('https://fonts.googleapis.com/css?family=Karla')


html 
  position: relative
  min-height: 100%
  font-family: 'Oxygen', sans-serif

body 
  margin: 0 0 $footerheight
  @media (max-width: 600px)
    margin: 0 0 $footerheightmobile
  
.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 800px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 700px
    background-size: cover
    background-position: center
    background-color: rgba(211, 210, 210, 0.404)
    display: flex
    justify-content: center
    align-items: center
    @media (max-width:600)
      height: 400px

.btn
    display: inline-block;
    padding: 12px 16px 10px;
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #fff;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: 700;
    color: #CC3700;
    text-align: center;
    -webkit-box-shadow: inset 0 0 0 2px #CC3700;
    box-shadow: inset 0 0 0 2px #f40;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon 
  // color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg 
  width: 1.5rem
  height: 1.5rem
  fill: currentColor;
.navbar-brand .navbar-item.logo
  padding: 0 1rem

.menu-label
  font-size: 1em !important
  text-align: left

a
  color: $black

a:hover
  color: gray
  transition-duration: 0.5s




